.mainTable .stickyFacture {
  position: fixed;
  bottom: 4%;
  width: 100px;
  right: 4%;
}
.mainTable .listInventory {
  border-radius: 10px;
  border: black;
  border-style: solid;
  padding: 1%;
  margin: 2% 0 2% 0;
}
.mainTable .listInventory .headInventory .standards {
  display: flex;
}
.mainTable .listInventory .tableInventory .tableHead .tableHeadInfo {
  background-color: aqua;
  text-align: center;
}
.mainTable .listInventory .tableInventory .productCategory {
  font-size: 80%;
  padding: 0.5%;
}
.mainTable .listInventory .tableInventory .productCategory .product {
  padding: 2%;
}
.mainTable .listInventory .tableInventory .productCategory .check {
  width: 50px;
}
